<h1>Teams</h1>

<%= link_to "New team", new_team_path, class: 'create-btn' %>

<table>
<thead>
<tr>
<th>name</th>
<th>details</th>
</tr>
</thead>
<tbody
  <% @teams.each do |team| %>
    <tr> 
    <td><%= team.name %></td>
    <td><%= link_to "Show team", team %></td>
    </tr>
  <% end %>
</tbody>
</div>


