<div id="<%= dom_id part %>">
  <p>
    <strong>Title:</strong>
    <%= part.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= part.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= part.date %>
  </p>
</div>