<h1>Activity Feed</h1>

<div class="table-container">
  <table id="activity-table">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Item Type</th>
        <th>Action</th>
        <th>Changed By</th>
      </tr>
    </thead>
    <tbody>
      <% @versions.each do |version| %>
        <tr>
          <td><%= version.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= version.item_type %></td>
          <td><%= version.event %></td>
          <td><%= User.find_by(id: version.whodunnit)&.name || "Unknown" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>