/*
 *= require_self
 *= require_tree .
 */

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar-container {
    border-bottom: 1px solid #eee;
}

#navbar {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
}

#navbar-title {
    font-weight: 600;
    text-decoration: none;
    color: black
}

#navbar-title:hover {
    color: #666;
}

#navbar-items {
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 17px;
}

#navbar-items a {
    text-decoration: none;
    color: black;
}

#navbar-items a:hover {
    text-decoration: none;
    color: #666;
}


/* Login page */
#login-container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

#login-container .input-div input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid gray;
    padding: 7px 10px;
    border-radius: 6px;
}

#login-button {
    margin-top: 10px;
    width: 150px;
    cursor: pointer;
    background-color: #1877f2;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 7px 0px;
    border: none;
    border-radius: 6px;
}

#login-button:hover {
    background-color: #4267b2;
}

#login-button:active {
    background-color: #264177;
}